<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat a Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../public/assets/js/burgers.js"></script> js file goes here if needed
		<link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>