body {
  background-image: url("../img/burger.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#devoured-card-header  {
  background-color: #ca341f;
}

.devoured-burger-name {
  color: #ca341f;
}

.devoured-card {  
  border-style: solid;
}